<div>
  <h3><a href="<%= @link.url %>"><%= @link.title %></a><br> <small>Submitted by <%= @link.user.name %></small></h3>
</div>
<hr/>
<div class="btn-group">
	<%= link_to 'Visit URL', @link.url, class: "btn btn-primary" %>
</div>

<% if @link.user == current_user -%>
	<div class="btn-group">
		<%= link_to 'Edit', edit_link_path(@link), class: "btn btn-secondary" %>
		<%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
	</div>
<% end %>

<div class='btn-group pull-right'>
  <%= link_to like_link_path(@link), method: :put, class: 'btn btn-secondary btn-sm' do %>
    <span class='fa fa-arrow-up'></span>	
	Upvote
	<%= @link.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_link_path(@link), method: :put, class: 'btn btn-secondary btn-sm' do %>
  <span class='fa fa-arrow-down'></span>
  Downvote
  <%= @link.get_downvotes.size %>
  <% end %>
</div>

<h3 class='comments_title'>
  <%= pluralize(@link.comments.count, 'Comment') %>
</h3>

<div id='comments'>
	<%= render @link.comments %>
</div>

<%= form_for([@link, Comment.new]) do |f| %>
  <div class='form-group'>
	<%= f.label :body %>  
  	<%= f.text_area :body, class: 'form-control' %>
  </div>
  <br>
  <div class='form-group'>
  	<%= f.submit 'Add Comment', class: 'btn btn-primary' %>
  </div>
<% end %>